/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.block__trending__news {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 !important;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .block__trending__news {
    margin-bottom: 10px;
  }
}

.block__trending__news h2 {
  background: #f07a22;
  width: 11%;
  margin: 10px 0 10px 0 !important;
  padding: 3px !important;
  text-align: center;
  color: #fff !important;
}

.block__trending__news .views-field-title a:hover {
  text-decoration: underline;
}

.block__trending__news .content {
  width: 88%;
}

.block__trending__news .views-field-title a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

button.slick-arrow {
  background-color: #fff !important;
  width: auto;
  z-index: 1;
}

.view__slick__slider .views-row .views-field-title a::after {
  content: '';
  padding: 0 10px;
}

.view__slick__slider .views-row.slick-active .views-field-title a::after,
.view__slick__slider .views-row.slick-active + .views-row .views-field-title a::after {
  content: '|';
  padding: 0 10px;
}

button.slick-next.slick-arrow {
  background: url(/themes/custom/dark_blood/images/nlr-icons.png) no-repeat top -58px left -33px;
  padding: 13px 5px;
  display: inline-block;
  background-size: 173px;
}

button.slick-next.slick-arrow::before {
  visibility: hidden;
}

button.slick-prev.slick-arrow {
  right: -7px;
  left: auto;
  background: url(/themes/custom/dark_blood/images/nlr-icons.png) no-repeat top -58px left -53px;
  padding: 13px 10px;
  display: inline-block;
  background-size: 173px;
  margin: 0;
}

button.slick-prev.slick-arrow::before {
  visibility: hidden;
  background: url();
}

.view__slick__slider .view-content {
  display: none;
}

.view__slick__slider .view-content.slick-slider {
  display: block;
}

@media screen and (max-width: 1199px) {
  .block__trending__news h2 {
    font-size: 14px !important;
  }
  .block__trending__news .content {
    width: 86%;
  }
}

@media screen and (max-width: 991px) {
  .block__trending__news .content {
    width: 85%;
  }
}


@media screen and (max-width: 767px) {
  .block__trending__news h2 {
    width: auto;
    padding: 3px 8px !important;
  }

  .block__trending__news .content {
    width: 100%;
  }

  .block__trending__news .views-field-title a {
    font-size: 12px;
  }
  .slick-list.draggable {
    padding: 0;
  }
  .view__slick__slider .views-row.slick-active .views-field-title a::after,
  .view__slick__slider .views-row.slick-active + .views-row .views-field-title a::after,
  .view__slick__slider .views-row .views-field-title a::after {
    display: none;
  }
  button.slick-prev.slick-arrow {
    left: auto;
    right: 25px;
    padding: 13px 5px;
    background-position: top -58px left -57px;
    top: 11px;
  }
  button.slick-next.slick-arrow {
    right: 0;
    top: 11px;
  }
}
