<div class="fb_likebox">
    <iframe src="//www.facebook.com/plugins/like.php?href={{ path }}&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none;overflow:hidden;width:450px;height:21px;" class="fb_btn"></iframe>
    <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</div>